<div class="listViewContainer">
  <div class="searchBar">
    <input type="search" [(ngModel)]="searchPlace" placeholder="Search places"/>
  </div>

    <ul class="list">
      <li class="listHeader">
        <div class="title">Place name</div>
        <div class="action">Action</div>
      </li>
      <li  *ngFor="let item of places | filter : searchPlace">
        <div class="placename" title="Show on the map" (click)="this.transformDataService.showPlace(item)">{{item.label}}</div>
        <button class="removePlace" (click)="remove(item.label)">Remove</button>
      </li>
    </ul>
</div>
