.searchBar {
  box-shadow: 3px 3px 5px #888888;
  width: 82%;
  margin: 0 auto;
}
.searchBar input {
  margin: 0 auto;
  width: 100%;
  display: block;
}

.list {
  width: 82%;
  margin: 0 auto;
  padding: 10px 0;
  height:360px;
  overflow: auto;
}
.list li {
  list-style-type: none;
  background: #f1f1f1;
  padding: 5px;
  border: 1px solid #ddd;
  margin-top: 1px;
  display: flex;
  justify-content: space-between;

}

.listHeader div {
  font-weight: bold;
}

.listViewContainer {
  margin-top: 20px;
}
.searchBar input {
  height: 32px;
  text-indent: 8px;
}
button{
  border: none;
  height: 25px;
  border-radius: 2px;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
button:hover {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
  cursor: pointer;
}

.placename {
  cursor: pointer;
  color: #1a73e8
}
